<div class="header">
  <a href="/Order">Home</a>
  <h1>Pizza Inc.</h1>
</div>
<div class="orders">
  <h1>Pizza orders:</h1>
  <br />
  <div class="orderList">
    {{#each orders}}
      <div>
        <h3>Order
          {{this.orderID}}:
          {{this.status}}
          - Price: R
          {{this.amount}}</h3>
        {{#if this.action}}
          <a
            href="{{this.status}}/{{this.orderID}}"
            class="buyBtn"
          >{{this.action}}</a>
        {{/if}}
      </div>
    {{/each}}
  </div>
  <a href="/clear" class="cartBtn">Clear orders</a>
</div>